/*------------------------------------*\
	#Layout
\*------------------------------------*/

body {
	color: #fff;
	font-family: arial;
	background: #000;
	background: url('../images/retro-8-bit-pixelart-wallpapers-180.jpg') repeat left top;
	overflow-x: hidden;
}
body:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	width: 5px;
	height: 100px;
	background: #fff;
}
.game-header {
	text-align: center;
	padding-top: 75px;
	margin-bottom: 50px;
	-ms-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.hangman {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #fff;
	background: #000;
}
.word-wrap {
	overflow: auto;
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
}
.word-letter {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	height: 50px;
	vertical-align: top;
	min-width: 50px;
	padding-bottom: 10px;
	border-bottom: solid 3px #fff;
	background: #1A1A1A;
}
.alphabet-wrap {
	overflow: auto;
	text-align: center;
}
.alphabet-wrap .letter {
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin-top: 5px;
	margin-right: 2px;
	margin-bottom: 5px;
	margin-left: 2px;
	padding: 10px;
	min-width: 15px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.2s ease;
	background: #1A1A1A;
}
.alphabet-wrap .letter:hover {
	opacity: .75;
}
.alphabet-wrap .letter.active,
.alphabet-wrap .letter.active:hover {
	color: #999;
	background: rgba( 255, 255, 255, .15);
}
.guesses-remaining {
	color: #fff;
}
.remaining-letters-wrap {
	padding-top: 20px;
	padding-bottom: 20px;
}
.game-stats {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -80px;
	width: 210px;
	padding: 20px;
	border-top: solid 3px lime;
	background: #1A1A1A;
}
.game-stats-wins {
	color: lime;
}
.game-stats-losses {
	color: red;
}

/*------------------------------------*\
	#Headings
\*------------------------------------*/

h1 {
	color: lime;
	font-size: 75px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-shadow: 2px 2px 0 #fff;
	font-family: 'Press Start 2P', cursive;
}
h2 {
	color: #fff;
	font-size: 16px;
}
.divider-heading {
	overflow: hidden;
}
.divider-heading span {
	display: inline-block;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}
.divider-heading span:before,
.divider-heading span:after {
	content: '';
	position: absolute;
	width: 400px;
	border-top: solid 1px #333;
}
.divider-heading span:before {
	left: 100%;
	top: 50%;
}
.divider-heading span:after {
	right: 100%;
	top: 50%;
}
.loose-heading {
	color: red;
	display: none;
	animation: blinker 1s linear infinite;
}
.loose-heading span:before,
.loose-heading span:after {
	border-top: solid 1px red;
}
.win-heading {
	color: lime;
	display: none;
	animation: blinker 1s linear infinite;
}
.win-heading span:before,
.win-heading span:after {
	border-top: solid 1px lime;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/*------------------------------------*\
	#Styles
\*------------------------------------*/


a {
	text-decoration: none;
	color: inherit;
}

/*------------------------------------*\
	#Helper Classes
\*------------------------------------*/

.text-center {
	text-align: center;
}
.text-uppercase {
	text-transform: uppercase;
}